@error-color: #F4B0B1;

/* Main container */
.main-container {
    width: 52rem;
    margin: 5rem auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

/* Main header text */
.heading-text {
    margin: 0 0 5rem 0;
    text-transform: uppercase;
    letter-spacing: 0.75rem;
}

/* Error messages */
.error-text {
    color: @error-color;
}

/* Search result text and images */
.result-area.ng-hide-add,
.result-area.ng-hide-remove {
    display: block !important;
    opacity: 1;
    -webkit-transtion: 0.5s ease;
    transition: 0.5s ease;
}

.result-area.ng-hide {
    opacity: 0;
}

/* Search result text */
.result-text {
    margin-bottom: 5rem;
}

/* Search result images */
.result-thumbnails {
    width: 12rem;
    height: 12rem;
    margin: 0.4rem 0.5rem;
    display: inline-block;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border: 0;
}
