<!DOCTYPE html>
<html lang="en" ng-app="flickrSearchApp">

    <head>
        <meta charset="UTF-8" />
        <title>Flickr Searcher</title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet" />
        <link href="css/style.css" rel="stylesheet" />
        <script src="node_modules/angular/angular.min.js"></script>
    </head>

    <body ng-controller="MainCtrl as vm">
        <!-- Main Content -->
        <div class="main-container">
            <!-- Header -->
            <header>
                <!-- Heading text -->
                <h1>Flickr Searcher</h1>
            </header>
            <!-- Search form -->
            <form name="flickrSearchForm" novalidate ng-submit="vm.submit()">
                <!-- Search input field -->
                <input type="text" ng-model="vm.searchTag" placeholder="Enter a tag" required />
                <!-- Submit button -->
                <input type="submit" value="Submit" />
            </form>
            <p class="query-results" ng-show="vm.formIsValid">
                Found {{ vm.numResults }} results for "{{ vm.searchTag }}"
            </p>
            <div class="search-results" ng-show="vm.formIsValid" ng-repeat="photo in vm.photos">
                <img ng-src="https://farm{{ photo.farm }}.staticflickr.com/{{ photo.server }}/{{ photo.id }}_{{ photo.secret }}.jpg" />
            </div>
        </div>
        <script src="js/app.js"></script>
    </body>

</html>
