<!DOCTYPE html>
<html lang="en" ng-app="flickrSearchApp">

    <head>
        <meta charset="UTF-8" />
        <title>Flickr Searcher</title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet" />
        <link href="css/style.css" rel="stylesheet" />
        <script src="node_modules/angular/angular.min.js"></script>
        <script src="node_modules/angular-animate/angular-animate.min.js"></script>
    </head>

    <body ng-controller="MainCtrl as vm">
        <!-- Main Content -->
        <div class="main-container">
            <!-- Header -->
            <header>
                <!-- Heading text -->
                <h1 class="heading-text">Flickr Searcher</h1>
            </header>
            <!-- Search form -->
            <form name="flickrSearchForm" novalidate ng-submit="vm.submit()">
                <!-- Search input field -->
                <input type="text" class="tag-input" ng-model="vm.searchInput" placeholder="Enter a tag" required />
                <!-- Submit button -->
                <input type="submit" class="submit-btn" value="Submit" />
            </form>
            <!-- Invalid form error text -->
            <p class="error-text" ng-show="vm.formInvalid">
                Please enter a tag.
            </p>
            <!-- Server error text -->
            <p class="error-text" ng-show="vm.failure">
                Unable to get images; please try again later.
            </p>
            <!-- Search results area -->
            <div class="result-area" ng-show="vm.showResults">
                <!-- Search result text -->
                <p class="result-text">
                    Found {{ vm.numResults }} results for "{{ vm.searchTag }}"
                </p>
                <!-- Search result images -->
                <div class="result-thumbnails" ng-repeat="photo in vm.photos" ng-style="{'background-image':'url(https://farm{{ photo.farm }}.staticflickr.com/{{ photo.server }}/{{ photo.id }}_{{ photo.secret }}.jpg)'}"></div>
            </div>
        </div>
        <script src="js/app.js"></script>
    </body>

</html>
